@charset "UTF-8";
/*mixins*/
/*fin des mixins*/
@font-face {
  font-family: "Shrikhand";
  src: url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
}
@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800;900&display=swap");
}
* {
  margin: 0px;
  font-family: "Roboto";
}

body, main {
  display: flex;
  flex-direction: column;
}

.plats {
  background-color: #f3f0f0;
}

a {
  text-decoration: none;
}

.platsindex {
  background-color: #f3f0f0;
  display: flex;
  flex-direction: column;
  padding: 40px 15px 50px 15px;
}
.platsindex .photoindex {
  border-radius: 25px;
  position: relative;
  height: 300px;
  overflow: hidden;
  margin: 10px 0px;
}
.platsindex .photoindex .verticale img {
  position: absolute;
  top: -50%;
}
.platsindex .photoindex img {
  width: 100%;
}
.platsindex .photoindex .name_index {
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  padding: 20px;
  font-size: 1.3em;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.platsindex .photoindex .name_index i {
  position: absolute;
  top: 30%;
  left: 75%;
  font-size: 1.2em;
}
.platsindex .photoindex .new {
  position: absolute;
  top: 18px;
  right: 18px;
  background-color: #99E2D0;
  font-size: 0.8em;
  font-weight: 500;
  padding: 8px;
  border-radius: 2px;
  color: #089773;
}

/*Localisation et présentation*/
.localisation {
  background-color: #e4e4e4;
  width: 100%;
  text-align: center;
  vertical-align: text-top;
  position: relative;
  color: #353535;
  font-weight: 600;
  font-size: 1.1em;
  padding: 20px;
}
.localisation i {
  position: absolute;
  left: 30%;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  background-color: #f0f0f0;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.presentation p {
  width: 100%;
  text-align: center;
  padding: 5px;
  color: #555;
}
.presentation p.strong {
  width: 60%;
  font-size: 1.3em;
  color: #000;
}

#fonctionnement {
  padding-left: 15px;
}

footer {
  background-color: #353535;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px 0px 10px 5%;
}
footer a {
  color: #fff;
  text-decoration: none;
  padding: 3px 0px;
}
footer a i {
  font-size: 0.9em;
  padding-right: 4px;
}
footer #logo_footer {
  font-family: "Shrikhand";
  font-weight: 500;
  font-size: 1em;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  position: relative;
}
header i {
  position: absolute;
  left: 7%;
  top: 30%;
  color: #555;
  font-size: 1.5em;
}
header .header {
  box-shadow: 0px 2px 5px 2px #a8a8a8;
  /*ajouter l'ombre sous le titre*/
  margin: 7px 0px;
}

.photoresto {
  overflow: hidden;
}
.photoresto img {
  width: 100%;
}
.photoresto .name {
  background-color: #fff;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  font-family: "Shrikhand";
  font-size: 1.7em;
  background-color: #f3f0f0;
  width: 100vw;
}
.photoresto figcaption {
  position: relative;
}
.photoresto figcaption i {
  position: absolute;
  right: 9%;
  top: 37%;
  font-size: 0.8em;
  font-weight: 100;
}

/*.verticale img{
    @include verticale;
}*/
.contentbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin: 10px 14px;
  padding: 10px;
  border-radius: 20px;
  height: 60px;
  box-shadow: 0px 1px 1px -1px #000;
  overflow: hidden;
  position: relative;
}
.contentbox p {
  font-weight: 500;
}
.contentbox.menu p {
  padding: 2px;
  font-weight: 200;
}
.contentbox.menu p strong {
  font-size: 1.2em;
  font-weight: 500;
}
.contentbox .price {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
}
.contentbox i {
  font-size: 1.1em;
  margin: 0px 40px 0px 0px;
  color: #929191;
}
.contentbox i.fa-ellipsis-v {
  margin: 0px 0px 0px 0px;
}
.contentbox i.fa-bars {
  margin: 0px 40px 0px 0px;
}
.contentbox .nb {
  position: absolute;
  background-color: #9356DC;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: 0;
  color: #fff;
  text-align: center;
  transform: translateX(-50%);
}
.contentbox i.fa-store {
  color: #9356DC;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.fontionnement .contentbox {
  position: relative;
  background-color: rgba(250, 250, 250, 0.623);
  align-content: space-around;
  height: 50px;
  align-items: center;
  box-shadow: 0px 1px 1px -1px #000;
}
.fontionnement .contentbox .skin {
  background-color: #ffdff6;
}

main h3 {
  font-weight: lighter;
  font-size: 1.2em;
  margin: 20px 10px 10px 14px;
}

em {
  font-style: normal;
  padding-bottom: 5px;
  border-bottom: 4px solid #99E2D0;
}

.button {
  border: none;
  height: 60px;
  width: 50%;
  font-size: 1em;
  margin: 30px 10% 60px 10%;
  background: linear-gradient(160deg, #FF79DA 2%, #9356DC);
  color: #fff;
  border-radius: 50px;
  align-self: center;
}
.button a {
  color: #fff;
  text-decoration: none;
}

.presentation .button {
  width: 65%;
  height: 20px;
  text-align: center;
  padding: 20px 0px;
}

@media screen and (min-width: 450px) {
  /*général*/
  html {
    margin: 0px 5%;
  }

  body, main {
    flex-flow: row wrap;
    flex-basis: 50%;
  }

  main.grid {
    flex-basis: 100%;
  }

  header, footer {
    flex-basis: 100%;
  }

  /*menu*/
  .photoresto {
    text-align: center;
    width: 100%;
    flex-basis: 50%;
  }
  .photoresto .name {
    border: 2px solid #99E2D0;
    border-radius: 0px;
    flex-basis: 50%;
    width: 99%;
    background-color: #fff;
    padding: 10px 0px;
  }
  .photoresto .name i {
    top: 30%;
  }

  /*contentbox*/
  .contentbox.menu {
    flex-flow: column;
    flex-basis: 100%;
  }

  #fonctionnement .contentbox {
    margin: 0px;
  }

  main h3 {
    flex-basis: 100%;
  }

  /*index*/
  .grid {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "presentation platsindex" "fonctionnement platsindex" "nothing platsindex" "nothing platsindex";
  }
  .grid .presentation {
    grid-area: presentation;
    background-color: #fff;
  }
  .grid .fonctionnement {
    grid-area: fonctionnement;
  }
  .grid .platsindex {
    grid-area: platsindex;
  }

  /* footer */
  footer {
    flex-flow: row;
    justify-content: space-around;
    padding: 30px 5% 50px 5%;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0.1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(100%);
    background-color: #99E2D0;
  }
  to {
    transform: translateX(0%);
  }
}
.button:hover, .back:hover {
  transition-duration: 150ms;
  opacity: 0.9;
  box-shadow: 0px 1px 1px 0px #000;
}

i {
  overflow: hidden;
}

.fa-heart {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

/*il faudra un nom qui remplace le span coeur {
    transition: all 2s ease-out 0s;
    background-color: $primary-color;
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}*/
.fa-heart:hover span {
  height: 100%;
  width: 100%;
}

.contentbox.menu:hover {
  box-shadow: 0px 1px 1px 0px #000;
}
.contentbox.menu.first {
  animation: slideUp 1s;
}
.contentbox.menu.second {
  animation: slideUp 1s 0.2s;
}
.contentbox.menu.third {
  animation: slideUp 1s 0.4s;
}
.contentbox.menu.fourth {
  animation: slideUp 1s 0.6s;
}

.acheck {
  position: absolute;
  width: 100px;
  height: 60px;
  right: 0%;
  padding: 10px;
  /*transform: translateX(100%);*/
  background-color: #99E2D0;
  font-size: 1.5em;
  text-align: center;
}
.acheck .check {
  visibility: visible;
  width: auto;
}
.acheck i {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
