.button{
    border: none;
    height: 20px;
    width: 50%;
    font-size: 1em;
    margin: 30px 10% 60px 10%;
    background: $gradient-color;
    color: #fff;
    border-radius: 50px;
    align-self: center;
    text-align: center;
    padding: 20px 0px;
}

.presentation .button{
    width: 65%;
    height: 20px;
    text-align: center;
    padding: 20px 0px;
}