@media screen and (min-width: 500px){

    body, main, .photoresto, header, .localisation{
        margin: 0px 5%;
    }
}

@media screen and (min-width: 320px) and (max-width: 389){

    .contentbox.menu{

        .texte{
            width: 30%;
        }
    }
}

@media screen and (min-width: 400px) and (max-width: 450px){

    .photoresto{
        height: 300px;

        img{
            height: auto;
        }
    }

    .verticale img{
        bottom: -100px;
        flex-basis: 50%;
    }
}

@media screen and (min-width: 450px) and (max-width: 500px){

    .photoresto{
        height: 340px;

        img{
            height: auto;
        }
    }
}

@media screen and (min-width: 500px) and (max-width: 550px){

    .photoresto{
        height: 300px;

        img{
            height: auto;
        }
    }

    .verticale img{
        bottom: -100px;
        flex-basis: 50%;
    }
}

@media screen and (min-width: 550px) and (max-width: 650px){

    .photoresto{
        height: 340px;

        img{
            height: auto;
        }
    }

    .verticale img{
        bottom: -100px;
        flex-basis: 50%;
    }
}

@media screen and (min-width: 570px) and (max-width: 669px){

    .platsindex .photoindex{
        height: 350px;
        
        .verticale img{
            bottom: -40px;
        }
    }
}

@media screen and (min-width: 670px) and (max-width: 769px){

    .platsindex .photoindex{
        height: 400px;
        
        .verticale img{
            bottom: -40px;
        }
    }
}

@media screen and (min-width: 770px) and (max-width: 865px){

    .platsindex .photoindex{
        height: 450px;
        
        .verticale img{
            bottom: -40px;
        }
    }
}

@media screen and (min-width: 650px) and (max-width: 750px){
  
    .photoresto{
        height: 380px;

        img{
            height: auto;
        }
    }

    .verticale img{
        bottom: -80px;
        flex-basis: 50%;
    }
}

@media screen and (min-width: 750px) and (max-width: 865px){
  
    .photoresto{
        height: 450px;

        img{
            height: auto;
        }
    }

    .verticale img{
        bottom: -60px;
        flex-basis: 50%;
    }
}

@media screen and (min-width: 865px){ //marche parfaitement a partir de 865px
            /*général*/

    body, main{
        flex-flow: row wrap;
        flex-basis: 48%;
        margin: 0px 10px 0px 0px;
    }

    main.grid{
        flex-basis: 100%;
        margin-left: 5%;
    }

    header, .localisation{
        flex-basis: 100%;
        margin: 0px 1%;
    }

            /*menu*/

    .photoresto{
        text-align: center;
        width: 100%;
        flex-basis: 48%;
        height: auto;
        margin: 0px 0px 0px 23px;
        position: relative;

        img{
            margin-top: 40px;
        }

        figcaption{
            position: absolute;
            top: 0%;
        }

        &.verticale img{
            top: 0%;
            left: 0%;
            flex-basis: 50%;
        }

        .name{
            border: 2px solid $tertiary-color;
            border-radius: 0px;
            flex-basis: 50%;
            width: 100%;
            background-color: #fff;
            padding: 10px 0px;
            border-bottom: none;
            border-right: none;
            height: 40px;

            p{
                padding: 0px;
            }

            .heart{
                position: absolute;
                top: 25%;
            }
        }
    }

            /*contentbox*/
    .contentbox.menu{
        flex-flow: column;
        flex-basis: 100%;
    }

    #fonctionnement .contentbox{
        margin: 0px;
    }

    main h3{
        flex-basis: 100%;
    }

    .plats .button{
        margin-left: 25%;
    }

        /*index*/
    .grid{
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "presentation platsindex"
        "fonctionnement platsindex"
        "nothing platsindex"
        "nothing platsindex";

        .presentation{
            grid-area: presentation;
            background-color: #fff;
        }

        .fonctionnement{
            grid-area: fonctionnement;
        }

        .platsindex{
            grid-area: platsindex;
        }

        .photoindex img{
            width: 100%;
        }
    }

            /* footer */

    footer{
        flex-flow: row;
        justify-content: space-around;
        padding: 30px 5% 50px 5%;
        width: 100%;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px){

    .platsindex .photoindex{
        height: 350px;
        
        .verticale img{
            bottom: -40px;
        }

        .name_index i{
            left: 80%;
        }
    }
}

@media screen and (min-width: 1170px) and (max-width: 1299px){

    .platsindex .photoindex{
        height: 400px;
        
        .verticale img{
            bottom: -40px;
        }

        .name_index i{
            left: 82%;
        }
    }
}

@media screen and (min-width: 1300px) and (max-width: 2000px){

    .platsindex .photoindex{
        height: 450px;
        
        .verticale img{
            bottom: -80px;
        }

        .name_index i{
            left: 85%;
        }
    }
}